<div class="container mt-3">
  <h4>Add a Comment</h4>
  <%= simple_form_for([@post, @post.comments.build], html: { class: 'form-horizontal' }) do |f| %>
    <%= f.input :content, as: :text, input_html: { class: 'form-control', rows: 3 }, label_html: { class: 'col-form-label' } %>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <%= f.button :submit, class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>
