<div class="footer text-center">
  <div class="d-flex justify-content-center mb-2 pt-4">
    <p class="mx-4">Home</p>
    <p class="mx-4">About</p>
    <p class="mx-4">Contact Us</p>
  </div>
  <div>
    <p>&copy; 2023 MindWell Hub</p>
  </div>
</div>
