<div class="container mt-5">
  <h2>New Post</h2>
  <%= simple_form_for(@post, html: { class: 'form-horizontal' }) do |f| %>
    <%= f.input :content, as: :text, input_html: { class: 'form-control', rows: 5 }, label_html: { class: 'col-form-label' } %>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <%= f.button :submit, class: 'btn btn-primary' %>
        <%= link_to 'Cancel', posts_path, class: 'btn btn-secondary' %>
      </div>
    </div>
  <% end %>
</div>
